h1 {
    text-align: center;
    color: white;
    background-color: gold;
    border-radius: 10px;
    font-size: 40px;
}

h1:hover {
    color: gold;
    background-color: green;
}


ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li a {
    text-decoration: none;
    color: white;
}

li {

    background-color: black;
    border-radius: 50px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    text-decoration: none;

}


li:hover {

    background-color:orange;
    font-size: 28px;
}

.odd {
    background-color: grey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}